<div style="display: flex; flex-wrap: wrap">
  <div appDisco style="width: 100px; height: 100px"></div>
  <div appDisco [speed]="10" style="width: 100px; height: 100px"></div>
  <div appDisco [speed]="20" style="width: 100px; height: 100px"></div>
  <div appDisco [speed]="30" style="width: 100px; height: 100px"></div>
  <div appDisco [speed]="40" style="width: 100px; height: 100px"></div>
  <div appDisco [speed]="50" style="width: 100px; height: 100px"></div>
  <div appDisco [speed]="60" style="width: 100px; height: 100px"></div>
  <div appDisco [speed]="70" style="width: 100px; height: 100px"></div>
  <div appDisco [speed]="80" style="width: 100px; height: 100px"></div>
  <div appDisco [speed]="90" style="width: 100px; height: 100px"></div>
  <div appDisco [speed]="100" style="width: 100px; height: 100px"></div>
  <div appDisco [speed]="200" style="width: 100px; height: 100px"></div>
  <div appDisco [speed]="300" style="width: 100px; height: 100px"></div>
  <div appDisco [speed]="400" style="width: 100px; height: 100px"></div>
  <div appDisco [speed]="500" style="width: 100px; height: 100px"></div>
  <div appDisco [speed]="600" style="width: 100px; height: 100px"></div>
  <div appDisco [speed]="700" style="width: 100px; height: 100px"></div>
  <div appDisco [speed]="800" style="width: 100px; height: 100px"></div>
  <div appDisco [speed]="900" style="width: 100px; height: 100px"></div>
  <div appDisco [speed]="1000" style="width: 100px; height: 100px"></div>
</div>

<h1 appDisco [speed]="100">Hallo</h1>
<button appDisco [speed]="100">Press me</button>
<input appDisco [speed]="100">

<app-my-advanced-component appDisco [speed]="100">test</app-my-advanced-component>
